@font-face {
    font-family: "superfunky";
    src: url(fonts/SuperFunky/Super\ Funky.ttf);
}
@font-face {
    font-family: "vogue";
    src: url(fonts/vogue/Vogue.ttf);
}

body{
    background-image: url('bground/wallhaven-wqqerq.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand{
    font-family: "SuperFunky";
}
.card-img-top{
    border-radius: 50px;
    padding: 18px;
}
.text-center{
    font-family: "SuperFunky";
    margin: 0px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #E79921;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Card content styles */
.card-content {
    padding: 15px;
}

.card-body{
    padding: 15px;
    margin-top: 0px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
.card-text{
    text-align: left;
    margin-left: 5px;
    font-family: "vogue";
}
.card-title{
    text-align: center;
    font-family: "superfunky";
    color: #0F401C;
}
h3,h5{
    color: rgb(0, 91, 228);
}
nav{
    padding: 0;
    font-size: 18px;
    height: 45px;
}