
@font-face {
    font-family: "superfunky";
    src: url(fonts/SuperFunky/Super\ Funky.ttf);
}
@font-face {
    font-family: "karmaticArcade";
    src: url(fonts/KarmaticAracde/ka1.ttf);
}
@font-face {
    font-family: "";
    src: url();
}
.navbar-brand{
    font-family: "superfunky";
}
body{
    background-image: url('bground/wallhaven-wqqerq.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.title1{
    font-family: "karmaticArcade";
}
.par1{
    font-family: "SuperFunky";
    color: #0F401C;
}
.par2{
    font-family: "SuperFunky";
    color: #0F401C;
}
nav{
    margin: 0;
}
.title2{
    font-family: "SuperFunky";
    margin-left: 180px;
}
.card {

    background-color:#F5B041;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.row{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 25px;
}
nav{
    padding: 0;
    font-size: 18px;
    height: 45px;
}